@import "function";

// RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

// /* ####### */
body {
  background: #f8e9dd;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  transition: all 1s;
}
/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    padding-top: toRem(67);
  }
  main {
    width: 343px;
    height: 534px;
    margin: 0 auto;
  }

  header {
    background: #ec755d;
    border-radius: 20px;
    width: 343px;
    padding: toRem(20) toRem(24) toRem(22) toRem(20);
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .text h1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 4px;
  }

  .text p {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #fffbf6;
  }

  .logo {
    width: 60px;
    height: 40px;
  }

  section {
    padding: toRem(24) toRem(20);
    background: #fffbf6;
    border-radius: 20px;
  }

  section h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.25px;
    color: #382314;
    margin-bottom: 18px;
  }
  // ======================================================================
  .charts {
    margin-bottom: 24px;
    height: toRem(200);
    display: flex;
    justify-content: space-between;
    transition: all 1s ease-out;
  }

  .bar {
    width: toRem(40);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .amount {
    background: #382314;
    border-radius: 5px;
    width: toRem(39);
    font-weight: 700;
    font-size: 11px;
    color: #fffbf6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(1);
  }

  .rectangle {
    background: #ec755d;
    border-radius: 5px;
    width: toRem(33);
    height: 90px;
    margin-top: toRem(3);
    margin-bottom: toRem(3);
    cursor: pointer;
  }

  .rectangle:hover {
    background: #ff9b86;
  }

  .current-day {
    background: #76B5BC;
  }
  .current-day:hover {
    background: #b4e0e5;
  }

  .day {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #92857a;
  }

  .mon-height {
    height: toRem(50);
  }
  .tue-height {
    height: toRem(100);
  }
  .wed-height {
    height: toRem(150);
  }
  .thu-height {
    height: toRem(89);
  }
  .fri-height {
    height: toRem(67);
  }
  .sat-height {
    height: toRem(124);
  }
  .sun-height {
    height: toRem(73);
  }

  .show {
    display: block;
  }

  // ================================================================
  hr {
    border-top: 1px solid #f8e9dd;
    border-radius: 1px;
    margin-bottom: 24px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .left .p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #92857a;
  }

  .left .p2 {
    font-weight: 700;
    font-size: 38px;
    color: #382314;
  }

  .right .p1 {
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    color: #382314;
  }

  .right .p2 {
    font-weight: 400;
    font-size: 16px;
    color: #92857a;
  }
}

/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    padding-top: 182px;
  }
  main {
    width: 540px;
    height: 660px;
    margin-left: 450px;
  }

  header {
    background: #ec755d;
    border-radius: 20px;
    width: 540px;
    padding: toRem(27) toRem(39) toRem(25) toRem(32);
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .text h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    margin-bottom: 8px;
  }

  .text p {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #fffbf6;
  }

  .logo {
    width: 72px;
    height: 48px;
  }

  section {
    padding: toRem(32) toRem(39.5) toRem(40) toRem(40);
    background: #fffbf6;
    border-radius: 20px;
  }

  section h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #382314;
    margin-bottom: 18px;
  }
  // ======================================================================
  .charts {
    margin-bottom: 32px;
    height: toRem(226);
    display: flex;
    justify-content: space-between;
    transition: all 1s ease-out;
  }

  .bar {
    width: toRem(75);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .amount {
    background: #382314;
    border-radius: 5px;
    width: toRem(62.5);
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #fffbf6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: toRem(4);
    padding-bottom: toRem(4);
  }

  .rectangle {
    background: #ec755d;
    border-radius: 5px;
    width: toRem(50.36);
    height: 90px;
    margin-top: toRem(8);
    margin-bottom: toRem(8);
    cursor: pointer;
  }

  .rectangle:hover {
    background: #ff9b86;
  }

  .current-day {
    background: #76B5BC;
  }
  .current-day:hover {
    background: #b4e0e5;
  }

  .day {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #92857a;
  }

  .mon-height {
    height: toRem(50);
  }
  .tue-height {
    height: toRem(100);
  }
  .wed-height {
    height: toRem(150);
  }
  .thu-height {
    height: toRem(89);
  }
  .fri-height {
    height: toRem(67);
  }
  .sat-height {
    height: toRem(124);
  }
  .sun-height {
    height: toRem(73);
  }

  .show {
    display: block;
  }

  // ================================================================
  hr {
    border-top: 1px solid #f8e9dd;
    border-radius: 1px;
    margin-bottom: 32px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .left .p1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #92857a;
  }

  .left .p2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #382314;
  }

  .right .p1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #382314;
  }

  .right .p2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #92857a;
  }
}

/*############ for-tablet-landscape-up #############*/
@media (min-width: 900px) {
}

/*############ for-desktop-up ###########*/
@media (min-width: 1200px) {
}

/*############ for-big-desktop-up ##########*/
@media (min-width: 1800px) {
}
